/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/datepicker
 */

 body {
   background-color: rgba(132,132,132,0.2);
 }
 #workorder {
   text-align: right;
   font-size: 60px;
   color: #b7b7b7;
   margin-top: 50px;
 }
 .logo_display {
   text-align: center;
   float: left;
   margin-left: 20px;
   width: 45%;
 }
 #logo_show {
   float: left;
   margin-left: 40px;
 }

.logo_form {
   text-align: center;
   float: left;
   width: 45%;
 }
 #change_form {
   display: none;
 }
 .logobutton {
   padding: 5px;
 }
 .edit_wrap {
   display: inline-block;
 }
 .edit_wrap .logobutton {
   float: left;
 }
 #imageinput {
   padding: 20px 0 0 20px;
 }
 #imageinstr {
   margin: 10px 0 0 3px;
   font-style: italic;
   font-weight: bold;
 }
 #image_show, #image {
   max-height: 150px;
   max-width: 380px;
 }
 #meta {
   float: right;
 }
 #meta td.meta-head {
   text-align: right;
   color: #984806;
 }
 #meta td input {
   width: 100%;
   text-align: right;
   border: 0px;
   padding: 2px;
 }
 #meta td input:hover {
   background: #ecf170;
 }
 #line {
   background-color:#984806;
   height: 1.5px;
 }
.linegrey {
   margin-top: 10px;
   background-color: rgba(132,132,132,1);
   height: 1px;
   width: 100%;
 }

 .companyinfo {
   float: left;
   text-align: left;
 }
 .companyinfo:hover {
   background: #ecf170;
 }
 .label {
   margin-right: 5px;
   display: block;
   font-weight: bold;
 }

 #data {
   margin-top: 30px;
   text-align: center;
 }
 #data th {
   background-color: #984705;
   color: white;
   font-weight: bold;
   padding: 5px;
   border: 1px solid #ffffff;
   border-top: 1px solid #984705;
   text-align: center;
 }
 #data th#qty {
   width: 65px;
   border-left: 1px solid #984705;
 }
 #data th#description {
   width: 405px;
 }
 #data th#price {
   width: 165px;
 }
 #data th#total {
   width: 165px;
   border-right: 1px solid #984705;
 }
 #data td {
   border-right: 1px solid #984806;
   border-left: 1px solid #984806;
   border-style: none solid;
   padding: 5px;
 }
 #data tr.even td {
   background-color: #fde9d8;
 }
 #data td#subtotal, #data td#taxes, #data td#finaltotal {
   color: #7e7e7e;
   text-align: right;
   background: #ffffff;
   border-left: 0;
   padding-right: 10px;
 }
 #data td#last_cell {
   border-bottom: 1px solid #984705;
 }
 #data td.separator {
  padding: 5px;
  border: 1px solid #984705;
 }

 .cancel {
   background: url('/assets/cancel.png') no-repeat;
   display: block;
   width: 16px;
   height: 16px;
   margin: auto;
 }
 .wrapper {
   padding: 5px;
   margin-right: 15px;
 }
 .wrapper label {
   display: block;
 }
 #thankyou {
   margin-top: 50px;
   text-align: center;
   font-weight: bold;
   font-size: 1.1em;
   font-style: italic;
   font-family:"Verdana", Verdana, Sans-serif;
 }
 table {
   border-collapse: collapse;
 }
 textarea  {
   border:0 none;
   overflow: hidden;
 }
 * {
   margin:0;
   padding:0;
 }
 .from_wrap {
   display: inline-block;
   width: 264px;
   float: left;
 }
 .address_item {
   float: left;
 }
 .receipt_actions {
   margin: 50px 0;
   float: right;
 }
 .delete_action {
   float: left;
   margin: 50px 0;
 }
 .left_buttons {
   float: left;
   margin: 50px 0;
 }
.submit_button {
  text-decoration: none;
  padding: 10px 20px;
  border: 0;
  background-color: #428bca;
  color: #fff;
  font-size: 14px;
  display:inline-block;
  font-family: Lucida Grande, Arial;
  border-radius: 2px;
}
.cancel_button {
  padding: 10px 20px;
  border: 0;
  background-color: #585858;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  font-family: Lucida Grande, Arial;
  border-radius: 2px;
}
.delete_button {
  text-decoration: none;
  padding: 10px 20px;
  border: 0;
  background-color: red;
  color: #fff;
  font-size: 14px;
  display:inline-block;
  font-family: Lucida Grande, Arial;
  border-radius: 2px;
}
.textline_top {
  float: right;
  padding: 2px 5px;
}
#address_wrap {
  margin-top: 30px;
}
.address {
  text-align: left;
  display: inline-block;
  width: 30%;
}
.label_show {
  color: #984806;
  font-weight: bold;
}
.address_box {
  white-space: pre-line;
  float: left;
}
.wrapperbottom {
  text-align: center;
}
#all_articles {
  width: 100%;
  margin: 10px auto 50px auto;
  border: 1px solid rgba(132,132,132,1);
}
#all_articles tr {
  border-bottom: 1px solid rgba(132,132,132,1);
}
#all_articles td {
  padding: 10px;
}
#all_articles td a {
  text-decoration: none;
  color: #428bca;
}
#all_articles th {
  padding: 15px 10px;
  text-align: left;
}
.content {
  width: 960px;
  margin: 25px auto;
  font-family: "Trebuchet MS", sans-serif;
  border: 1px solid rgba(110,110,110,0.8);
  padding: 35px;
  border-radius: 3px;
  background: #fff;
  overflow: auto;
}
.content_show {
  width: 800px;
  display: inline-block;
  margin-top: 50px;
}
#index_logo {
  float: right;
  padding: 30px 100px 0 0;
}

.thead {
  background-color: #BDBDBD;
}
.new_receipt {
  padding-top: 30px;
}
.new_button {
  margin-top: 15px;
}
.entry {
  float: left;
  padding: 10px 20px;
  margin-left: 20px;
}
.entry input {
  height: 30px;
  font-family: Lucida Grande, Arial;
  font-size: 14px;
  border: 1px solid rgba(132,132,132,0.6);
}
.entry textarea {
  font-family: Lucida Grande, Arial;
  font-size: 14px;
  border: 1px solid rgba(132,132,132,0.6);
}
#receipt_work_order_id {
  width: 250px;
}
.form_middle {
  margin-top: 40px;
  border:1px solid rgba(110,110,110,0.8);
  overflow: auto;
  padding: 30px 0;
  border-radius: 2px 2px 0 0;
  background-color: rgba(110,110,110,0.1);
}
#form_header {
  margin-top: 40px;
}
#line_items td input, #totals td input {
  height: 30px;
  font-family: Lucida Grande, Arial;
  font-size: 14px;
  border: 1px solid rgba(132,132,132,0.6);
}
#line_items, #totals {
  width: 100%;
}
#totals {
  background-color: rgba(110,110,110,0.1);
}
.data-row {
  border: 1px solid rgba(110,110,110,0.8);
  border-top: none;
  display: block;
  padding: 30px;
}
.data-row td {
  margin-right: 10px;
}
.desc-cell {
  display: block;
}
.description {
  width: 80%;
}
.delete-cell {
  float: right;
}
.delete_line_item {
  text-decoration: none;
  color: #428bca;
  background: url(/images/cancel.png) no-repeat;
  padding: 1px 0 0 25px;
}
.add_line {
  padding: 10px 40px;
  border: 1px solid rgba(110,110,110,0.8);
  border-top: none;
  border-bottom: none;
  background-color: rgba(110,110,110,0.1);
}
.add_line a {
  background: url(/images/plus.png) no-repeat;
  padding: 1px 0 0 25px;
  text-decoration: none;
  color: #428bca;
}
#totals .wrapper {
  margin-right: 30px;
}
#totals .wrapper input {
  width: 200px;
}
#error_explanation {
  padding: 20px 30px;
  font-size: 14px;
  color: red;
  text-align: left;
}
#error_explanation h2 {
  font-size: 14px;
}
#error_explanation ul {
  margin-left: 20px;
}

.menu {
  overflow: auto;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0px;
  -moz-box-shadow: 0px 0px 10px 1px rgb(100,100,100);
  box-shadow: 0px 0px 10px 1px rgb(100,100,100);
  z-index: 999;
  background-color: rgba(66,139,202,0.9);
  font-family: "Trebuchet MS", sans-serif;
}
.sign_in {
  margin: 15px 70px 0 0;
  float: right;
}
.sign_in a {
  text-decoration: none;
  color: #fff;
}
.menu_logo {
  float: left;
  margin: 5px 70px;
}
.menu_logo a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.alert, .notice {
  padding: 10px;
  background-color: rgba(110,110,110,0.1);
  border: 1px solid rgba(110,110,110,0.5);
  margin-bottom: 30px;
  font-size: 14px;
}
.alert:empty, .notice:empty {
  display: none;
}
.header_text {
  color: #6E6E6E;
}
.sign_in_wrap {
  float: left;
  width: 50%;
  border: 1px solid rgba(110,110,110,0.6);
  padding: 20px;
  margin-top: 30px;
  text-align: center;
  min-height: 300px;
}
.field {
  padding: 10px 20px;
  text-align: left;
}
.field label {
  font-weight: bold;
  display: block;
  float: left;
  text-transform: uppercase;
}
.field input {
  height: 30px;
  width: 100%;
  font-family: Lucida Grande, Arial;
  font-size: 14px;
  border: 1px solid rgba(132,132,132,0.6);
}
.remember {
  float: left;
  padding: 10px 20px;
}
.remember input {
  height: 16px;
  width: 16px;
}
.small_label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}
.actions {
  float: left;
  padding: 10px 20px;
}
.shared_links {
  padding: 10px 20px;
  text-align: left;
}
.shared_links a {
  text-decoration: none;
  color: #428bca;
}
.social_links {
  padding: 10px 0;
  overflow: auto;
}
.social_logo {
  width: 64px;
  height: 64px;
  margin: 10px 20px 10px 0;
  float: left;
}
.social_logo a {
  display: block;
  width: 64px;
  height: 64px;
}
.google {
  background: url(/images/google.png) no-repeat;
}
.twitter {
  background: url(/images/twitter.png) no-repeat;
}
.facebook {
  background: url(/images/facebook.png) no-repeat;
}
.linkedin {
  background: url(/images/linkedin.png) no-repeat;
}
.delete_account {
  text-align: left;
  margin: 60px 20px 50px 20px;
}
.delete_account .linegrey {
  margin: 10px 0;
}
#image_hidden, .hidden, .hidden_check {
  display: none;
}
.default_wrap {
  float: right;
  width: 40%;
  border: 1px solid rgba(110,110,110,0.6);
  padding: 20px;
  margin-top: 30px;
  text-align: center;
  min-height: 300px;
}
#logo img {
  max-height: 150px;
  max-width: 380px
}
.user_logo_form {
  text-align: center;
  width: 100%;
}

 .clear {
   clear: both;
 }
