<tr class="data-row">
  <td class="cancelcell">
  </td>
  <td>
    <div class="wrapper">
      <%= line_item.qty %>
    </div>
  </td>
  <td>
    <div class="wrapper">
    <%= line_item.description %>
    </div>
  </td>
  <td>
    <div class="wrapper">
    <%= line_item.unit_price %>
    </div>
  </td>
  <td>
    <div class="wrapper">
    <%= line_item.line_total %>
    </div>
  </td>
</tr>
